<%- include('partials/header') %>
    <%- include('partials/topbar') %>
        <div class="brands">
            <h1 class="brandsHeading">Latest Watches From All Top Brands</h1>
            <div class="brandsPara">
                <p>
                    Watch brands are synonymous with quality, reflecting their commitment to craftsmanship and
                    precision. Renowned luxury brands like Rolex, Patek Philippe, and Audemars Piguet meticulously
                    engineer their timepieces using high-quality materials and intricate movements, resulting in
                    exceptional accuracy and durability. Meanwhile, innovative brands like Hublot and TAG Heuer push
                    boundaries with avant-garde designs and cutting-edge technologies, while still maintaining the
                    highest standards of quality. From the use of premium materials to rigorous testing procedures,
                    watch brands prioritize excellence to ensure their timepieces not only tell time but also become
                    cherished heirlooms that can be passed down through generations.
                </p>
            </div>
        </div>
        <div class="container-fluid text-center watchCollection">
            <div class="row">
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/hdf/hc6/27905027637278/WTT1806NM01N_NoColour.jpg_230Wx334H"
                        alt="watch 1">
                    <h3>Titan</h3>    
                    <h3>₹4,800</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h2f/h13/28748203524126/WFIAEAX2527I_NoColour.jpg_230Wx334H">
                    <h3>Armani Exchange</h3>
                    <h3>₹5,000</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h49/h05/28707894493214/WTONDTH1791778_NoColour.jpg_230Wx334H"
                        alt="watch 2">
                    <h3>Tommy Hilfiger</h3>
                    <h3>₹5,050</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h57/h56/29880021188638/WFIFSE1107_NoColour.jpg_230Wx334H"
                        alt="watch 3">
                    <h3>Fossil</h3>
                    <h3>₹7,000</h3>
                </div>

            </div>
        </div>
        <div class="container-fluid text-center watchCollection">
            <div class="row">
                <div class="col-3 watch">
                    <img src="https://c1.wallpaperflare.com/preview/275/295/701/chronometer-wrist-watch-gold-golden.jpg"
                        alt="watch 1">
                    <h3>Albana</h3>
                    <h3>₹4,850</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrRRHRr8GoOqcKWmKFc8HYQiWZwieqmpip8A&usqp=CAU"
                        alt="watch 2">
                    <h3>Mage</h3>
                    <h3>₹5,500</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHFnxYQAnZJ4pcYOMyRMsrv35lXi_fBcTb6y9gmFa0jTvLetci6sm-zDlau-KvC5iRRaA&usqp=CAU"
                        alt="watch 2">
                    <h3>Anex</h3>
                    <h3>₹7,500</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://www.pngall.com/wp-content/uploads/2016/04/Watch-Free-PNG-Image.png"
                        alt="watch 3">
                    <h3>Wake</h3>
                    <h3>₹5,090</h3>
                </div>

            </div>
        </div>
        <div class="container-fluid text-center watchCollection">
            <div class="row">
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h9c/h1d/16531440566302/WCADB23_NoColour.jpg_230Wx334H"
                        alt="watch 1">
                    <h3>Casio</h3>
                    <h3>₹10,800</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h38/hfd/16161321680926/WTITWTXB100TN_NoColour.jpg_230Wx334H"
                        alt="watch 2">
                    <h3>Timex</h3>
                    <h3>₹8,000</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/hc9/h13/26908966813726/WFT38072AP01_NoColour.jpg_230Wx334H"
                        alt="watch 2">
                    <h3>Fastrack</h3>
                    <h3>₹9,500</h3>
                </div>
                <div class="col-3 watch">
                    <img src="https://sslimages.shoppersstop.com/sys-master/images/h55/h16/28923452194846/WGUGW0265G7_NoColour.jpg_230Wx334H"
                        alt="watch 3">
                    <h3>Guess</h3>
                    <h3>₹7,500</h3>
                </div>

            </div>
        </div>
        <%- include('partials/footer') %>