<%- include('partials/header') %>
    <%- include('partials/topbar') %>
        <%- include('partials/imageSlidder') %>
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4 mainLogo"
                    src="https://images-platform.99static.com//a7IqG6U8Fh7mCV_ennJIuyxfE9U=/89x91:898x900/fit-in/500x500/99designs-contests-attachments/126/126073/attachment_126073781"
                    alt="" width="72" height="57">
                <h1 class="display-5 fw-bold text-body-emphasis">Get Your Desired Watch</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Welcome to our exquisite watch store, where timepieces become timeless
                        treasures. Immerse yourself in the world of horology, where craftsmanship and style intertwine
                        to create stunning wrist companions. Discover an extensive collection of renowned brands, from
                        classic elegance to modern sophistication, each piece meticulously curated to cater to your
                        discerning taste. Whether you seek a luxurious statement piece or a versatile everyday
                        companion, our knowledgeable staff will guide you through our curated selection, ensuring a
                        seamless shopping experience. Embrace the beauty of precision engineering and indulge in the
                        artistry of horological mastery at our watch store, where time takes on a new dimension.</p>

                </div>
            </div>

            <%- include('partials/footer') %>